[safe]
	directory = C:/xampp/htdocs/sms-aqsa
	directory = *
	directory = C:/xampp/htdocs/sms-aqsa
	directory = C:/xampp/htdocs/sms-aqsa
	directory = C:/xampp/htdocs/sms-aqsa
	directory = C:/xampp/htdocs/sms-aqsa
	directory = C:/xampp/htdocs/sms-aqsa
	directory = C:/xampp/htdocs/sms-aqsa
	directory = C:/xampp/htdocs/sms-aqsa
	directory = C:/xampp/htdocs/sms-aqsa
	directory = C:/xampp/htdocs/sms-aqsa
	directory = C:/xampp/htdocs/sms-aqsa
	directory = C:/xampp/htdocs/sms-aqsa
	directory = C:/xampp/htdocs/sms-aqsa
	directory = C:/xampp/htdocs/sms-aqsa
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
	directory = C:/xampp/htdocs/sms-private
